::selection {
	background-color: #c20016;
	color: #ffffff;
}

::-moz-selection {
	background-color: #c20016;
	color: #ffffff;
}

::-webkit-selection {
	background-color: #c20016;
	color: #ffffff;
}

::-o-selection {
	background-color: #c20016;
	color: #ffffff;
}

* {
	margin: 0px;
	padding: 0px;
}

a {
	color: #808080;
	text-decoration: none;
}

a:hover {
	color: #c20016;
}

body, h1, h2, h3, a, span, input, textarea {
	color: #404040;
	font-size: 12px;
	font-family: Helvetica, sans-serif;
	letter-spacing: 0.25px;
}

input, textarea {
	font-size: 11px;
}

fieldset {
	float: left;
	position: relative;
	width: 360px;
	
	margin-bottom: 20px;
	padding: 0px 20px 20px 20px;
	border: 1px solid #e6e6e6;
}

legend {
	margin: 0px -3px;
	padding: 0px 3px;
	color: #bfbfbf;
	font-size: 11px;

	-moz-text-shadow: #ffffff 0px 1px 0px;
	-webkit-text-shadow: #ffffff 0px 1px 0px;
	-o-text-shadow: #ffffff 0px 1px 0px;
	text-shadow: #ffffff 0px 1px 0px;
}

label {
	clear: both;
	display: block;
	margin-top: 15px;
	margin-bottom: 5px;
	
	color: #808080;
	font-size: 12px;
	font-weight: bold;

	-moz-text-shadow: #ffffff 0px 1px 0px;
	-webkit-text-shadow: #ffffff 0px 1px 0px;
	-o-text-shadow: #ffffff 0px 1px 0px;
	text-shadow: #ffffff 0px 1px 0px;
}

label span {
	color: #b3b3b3;
	font-size: 11px;
	font-weight: normal;
	text-shadow: #ffffff 0px 1px 0px;
}

/*----- Icons ANFANG -----*/
.ui-icon {
	position: relative;
	width: 20px;
	height: 20px;

	background-image: url("../grafiken/ott-ui-icons.png");
}

#ui-icon-user {
	background-position: 0px 0px;
}

#ui-icon-user-dark {
	background-position: 0px -40px;
}

#ui-icon-password {
	background-position: -20px 0px;
}

.ui-icon-plus {
	background-position: -60px 0px;
	cursor: pointer;
}

.ui-icon-minus {
	background-position: -80px 0px;
	cursor: pointer;
}
/*----- Icons ENDE -----*/

/*----- Buttons ANFANG -----*/
.ui-button {
	position: relative;
	height: 26px;
	margin: -3px -2px;
	padding: 0px 0px 0px 8px;
	
	background-image: url("../grafiken/ott-ui-sprites.png");
	background-position: 0px 0px;
	float: left;
}

.ui-button-inner {
	height: 100%;
	margin: 0px;
	padding: 0px 8px 0px 0px;

	background-image: url("../grafiken/ott-ui-sprites.png");
	background-position: right -26px;
}

.ui-button-text {
	display: block;
	margin: 0px;
	padding: 7px 7px 0px 7px;
	
	color: #606060;
	font-size: 11px;
	font-family: sans-serif;
	text-align: center;
	
	-moz-text-shadow: #ffffff 0px 1px 0px;
	-webkit-text-shadow: #ffffff 0px 1px 0px;
	-o-text-shadow: #ffffff 0px 1px 0px;
	text-shadow: #ffffff 0px 1px 0px;
}

@-moz-document url-prefix() {
    .ui-button-text {
        padding: 8px 7px 0px 7px;
    }
}


	/*----- Buttons DARK -----*/
.ui-button-dark {
	background-position: 0px -475px;
}

.ui-button-dark .ui-button-inner {
	background-position: right -501px;
}

.ui-button-dark .ui-button-text {
	padding: 6px 7px 0px 7px;

	color: #f5f5f5;
	
	text-shadow: #000000 0px -1px 0px;
}

@-moz-document url-prefix() {
	.ui-button-dark .ui-button-text {
		padding: 7px 7px 0px 7px;
	}
}
	/*----- Buttons HOVER -----*/
.ui-button:hover {
	background-position: left -52px;

	cursor: pointer;
}

.ui-button:hover .ui-button-inner {
	background-position: right -78px;
}

.ui-button:hover .ui-button-text {
	color: #ffffff;
	
	-moz-text-shadow: #550000 0px -1px 0px;
	-webkit-text-shadow: #550000 0px -1px 0px;
	-o-text-shadow: #550000 0px -1px 0px;
	text-shadow: #550000 0px -1px 0px;
}
	/*----- Buttons ACTIVE -----*/
.ui-button:active {
	background-position: left -104px;
}

.ui-button:active .ui-button-inner {
	background-position: right -130px;
}

.ui-button:active .ui-button-text {
	color: #ffffff;
	
	-moz-text-shadow: #550000 0px -1px 0px;
	-webkit-text-shadow: #550000 0px -1px 0px;
	-o-text-shadow: #550000 0px -1px 0px;
	text-shadow: #550000 0px -1px 0px;
}

.ui-button input[type="submit"] {
	display: none;
}
/*----- Buttons ENDE -----*/

/*----- Progressbar ANFANG -----*/
	/*----- Progressbar BACKGROUND -----*/
.ui-progressbar {
	display: block;
	position: relative;
	width: 356px;
	height: 31px;
	margin: -3px -2px;
	padding: 0px 0px 0px 8px;

	background-image: url("../grafiken/ott-ui-sprites.png");
	background-position: left -155px;
	
	clear: both;
}

.ui-progressbar-inner {
	position: relative;
	height: 100%;
	margin: 0px;
	padding: 0px 8px 0px 0px;	
	
	background-image: url("../grafiken/ott-ui-sprites.png");
	background-position: right -186px;
}
	/*----- Progressbar PROGRESS -----*/
.ui-progressbar-progress {
	position: relative;
	left: -8px;
	width: 42%;
	height: 100%;
	margin: 0px;
	padding: 0px 0px 0px 8px;

	background-image: url("../grafiken/ott-ui-sprites.png");
	background-position: left -217px;
}

.ui-progressbar-progress-inner {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px 8px 0px 0px;
	
	background-image: url("../grafiken/ott-ui-sprites.png");
	background-position: right -248px;
	
	overflow: hidden;
	white-space:nowrap;
}

	/*----- Progressbar TEXT -----*/
.ui-progressbar-text {
	display: block;
	margin: 0px;
	padding: 9px 5px 0px 5px;
	
	color: #ffffff;
	font-size: 11px;
	font-family: sans-serif;
	
	-moz-text-shadow: #550000 0px -1px 0px;
	-webkit-text-shadow: #550000 0px -1px 0px;
	-o-text-shadow: #550000 0px -1px 0px;
	text-shadow: #550000 0px -1px 0px;
}

.ui-progressbar-text-percent {
	color: #ffffff;
	font-size: 14px;
}

	/*----- Progress COMPLETED -----*/
.ui-progress-completed .ui-progressbar-progress {
	background-position: left -279px;
}

.ui-progress-completed .ui-progressbar-progress-inner {
	background-position: right -310px;
}

.ui-progress-completed .ui-progressbar-text {
	padding: 11px 5px 0px 5px;
	
	text-align: center;
	-moz-text-shadow: #556644 0px -1px 0px;
	-webkit-text-shadow: #556644 0px -1px 0px;
	-o-text-shadow: #556644 0px -1px 0px;
	text-shadow: #556644 0px -1px 0px;
}

	/*----- Progress ERROR -----*/
.ui-progress-error .ui-progressbar-text {
	padding: 11px 5px 0px 5px;
	
	text-align: center;
}

/*----- Progressbar ENDE -----*/

/*----- Dropdown ANFANG -----*/
.ui-dropdown {
	position: relative;
	
	width: 148px;
	margin: 5px 0px;
}

.ui-dropdown-input {
	position: relative;
	width: 120px;
	height: 10px;
	padding: 4px;
	
	border: 1px solid #cccccc;
	background-color: #ffffff;
	
	color: #999999;
	font-family: sans-serif;
	font-size: 11px;
	font-style: italic;
}

.ui-dropdown-input-highlight {
	position: relative;
	display: block;
	width: 130px;
	height: 20px;
	border-bottom: 1px solid #ffffff;
}

.ui-dropdown-button {
	position: absolute;
	top: -1px;
	right: -19px;
	width: 24px;
	height: 26px;
	
	margin: -3px -2px;
	
	background-image: url("../grafiken/ott-ui-sprites.png");
	background-position: 0px -341px;
}

.ui-dropdown-button:hover {
	cursor: pointer;
}

.ui-dropdown-button-active {
	background-position: -48px -341px;
}

.ui-dropdown-button-hover {
	background-position: -24px -341px;
}

	/*----- Dropdown LISTE -----*/
.ui-dropdown-list {
	z-index: 99;
	display: none;
	position: absolute;
	top: 30px;
	right: -1px;
	
	width: 147px;
	
	background-color: #f2f2f2;
	border: 1px solid #cccccc;
	
	-moz-box-shadow: 0px 2px 10px rgba(0, 0, 0, .1);
	-webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, .1);
	-o-box-shadow: 0px 2px 10px rgba(0, 0, 0, .1);
	box-shadow: 0px 2px 10px rgba(0, 0, 0, .1);
}

.ui-dropdown-list-highlight {
	position: relative;
	border-top: 1px solid #ffffff;
}

.ui-dropdown-list-arrow {
	position: absolute;
	top: -8px;
	right: 0px;
	
	width: 20px;
	height: 8px;
	
	background-image: url("../grafiken/ott-ui-sprites.png");
	background-position: -74px -345px;
}

.ui-dropdown-list ul {
	list-style: none;
}

.ui-dropdown-list ul li {
	padding: 4px 4px 2px 4px;
	border: 1px solid #f2f2f2;
	
	color: #606060;
	font-family: sans-serif;
	font-size: 10px;
}

.ui-dropdown-list ul li:hover {
	background-image: url("../grafiken/ott-ui-sprites.png");
	background-position: left -371px;
	
	border: 1px solid #b31212;

	color: #ffffff;
	
	cursor: pointer;
}
/*----- Dropdown ENDE -----*/

/*----- Eingabe ANFANG -----*/
.ui-input {
	position: relative;
	width: 200px;
	
	border-bottom: 1px solid #ffffff;
}

.ui-input input {
	width: 190px;
	height: 15px;
	padding: 3px 4px 0px 4px;
	
	background-image: url("../grafiken/ott-ui-input-bg.png");
	border: 1px solid #cccccc;
}

@-moz-document url-prefix() {
	.ui-input input {
		padding: 2px 4px 1px 4px;
	}
}

/*----- Eingabe ENDE -----*/


/*----- Dateieingabe ANFANG -----*/
.ui-file {
	position: relative;
	width: 200px;
}

.ui-file-name{
	width: 200px;
	
	border-bottom: 1px solid #ffffff;
}

.ui-file input[type="text"] {
	width: 190px;
	height: 12px;
	padding: 4px 4px 2px 4px;
	
	background-image: url("../grafiken/ott-ui-input-bg.png");
	border: 1px solid #cccccc;
	
	color: #808080;
	font-size: 11px;
	font-style: italic;
}

.ui-file-choose input[type="file"] {
	position: absolute;
	top: 2px;
	right: 0px;

	opacity: 0;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	
	cursor: pointer;
}

.ui-file-choose {
	position: absolute;
	top: 0px;
	left: 199px;
	
	overflow: hidden;
	
	background-position: 0px -391px;
}

.ui-file-choose:hover {
	background-position: 0px -419px;
}

.ui-file-choose:active {
	background-position: 0px -449px;
}


/*----- Dateieingabe ENDE -----*/


/*----- Textarea ANFANG -----*/
.ui-textarea {
	width: 360px;

	border-bottom: 1px solid #ffffff;
}

.ui-textarea textarea {
	width: 350px;
	padding: 5px 4px 3px 4px;
	
	border: 1px solid #cccccc;
	background-image: url("../grafiken/ott-ui-input-bg.png");
	background-repeat: repeat-x;
}
/*----- Textarea ENDE -----*/


/*----- Notiz ANFANG -----*/
.ui-notice {
	display: none;
	position: absolute;
	top: 0px;
	left: -10px;
	
	width: 0px;
	height: 0px;
}

.ui-notice-outer {
	float: right;
	position: relative;
	height: 18px;
	padding: 0px 10px;
	border: 1px solid #e6decf;

	-moz-box-shadow: 0px 1px 5px rgba(0, 0, 0, .1);
	-webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, .1);
	-o-box-shadow: 0px 1px 5px rgba(0, 0, 0, .1);
	box-shadow: 0px 1px 5px rgba(0, 0, 0, .1);
	
	background-color: #fffaf0;
	
	text-align: center;
}


.ui-notice-inner {
	width: 100%;
	
	padding: 2px 0px 0px 0px;
	border-top: 1px solid #ffffff;
	
	text-align: center;
}

@-moz-document url-prefix() {
	.ui-notice-inner {
		padding: 4px 0px 0px 0px;
	}
}

.ui-notice-arrow {
	position: absolute;
	top: -1px;
	right: -8px;
	
	width: 8px;
	height: 20px;
	
	background-image: url("../grafiken/ott-ui-sprites.png");
	background-position: -98px -345px;
}

.ui-notice span {
	color: #b2afa8;
	font-size: 10px;
	white-space: nowrap;
}
/*----- Notiz ENDE -----*/


/*----- Popup ANFANG -----*/
.ui-popup {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	
	width: 260px;
	
	margin-top: -100px;
	margin-left: -150px;
	padding: 18px 20px 10px 20px;
	
	background-image: url("../grafiken/ott-ui-bg_black_75.png");
	
	-moz-box-shadow: 0px 5px 20px rgba(0, 0, 0, .75);
	-webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, .75);
	-o-box-shadow: 0px 5px 20px rgba(0, 0, 0, .75);
	box-shadow: 0px 5px 20px rgba(0, 0, 0, .75);
	
	border-top: 1px solid #909090;
	border-bottom: 1px solid #202020;
	
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
}

.ui-popup-text {
	display: block;
	color: #ffffff;
	
	-moz-text-shadow: #000000 0px -1px 0px;
	-webkit-text-shadow: #000000 0px -1px 0px;
	-o-text-shadow: #000000 0px -1px 0px;
	text-shadow: #000000 0px -1px 0px;
	
	margin-bottom: 15px;
}

.ui-popup .ui-button {
	float: right;
	width: 70px;
	margin-left: 5px;
}

.ui-popup-close {
	position: absolute;
	top: 4px;
	right: 6px;
	
	width: 15px;
	height: 15px;

	background-image: url("../grafiken/ott-ui-sprites.png");
	background-position: -112px -347px;
}


.ui-popup-close:hover {
	background-position: -129px -347px;
	
	cursor: pointer;
}
/*----- Popup ENDE -----*/


/*----- Helfer ANFANG -----*/
.clear {
	clear: both;
}

.default {
	color: #cccccc;
	font-style: italic;
}

.disabled {
	color: #bfbfbf;
	background-color: #f2f2f2;
}

.hidden {
	display: none;
}